h1 {
	font-family: sans-serif; 
	font-style: normal;
	font-size: 54px;
	margin-bottom: 0;
}

h3 {
	font-weight: lighter;
	margin-top: 0;
}

h2 {
	font-family: sans-serif;
	font-size: 32px;
	font-weight: lighter;
}

body {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

.word-info > * {
	margin-top: 0;
	margin-bottom: 0;
}
